:root {
  --light: white;
  --dark: black;
}

@scope ([data-window]) {
  :scope {
    display: grid;
    grid-template-areas:
      "titlebar"
      "content";
    grid-template-rows: 32px 1fr;

    position: absolute;
    left: 0;
    top: 0;

    width: 320px;
    height: 320px;

    border: solid var(--light) 1px;
    background: var(--light);
    box-shadow: 0 0 0 1px var(--dark);

    color: var(--light);
    font-family: monospace;
  }

  [data-drag-handle] {
    cursor: move;
  }

  .titlebar {
    display: grid;
    grid-area: titlebar;
    grid-template-areas: "title close";
    grid-template-columns: 1fr min-content;

    background: var(--light);
    color: var(--dark);
    font-weight: bold;

    & button {
      border: solid var(--dark) 1px;
      background: var(--light);
      color: var(--dark);
      font-family: inherit;

      cursor: pointer;

      &:active {
        filter: invert();
      }
    }
  }

  [data-title] {
    pointer-events: none;
    text-overflow: ellipsis;
    place-self: center flex-start;

    margin: 0 .5em;
  }

  [data-close] {
    grid-area: close;
    place-self: middle;
    width: 24px;
    height: 24px;
    margin: 4px;
  }

  [data-content] {
    grid-area: content;

    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior-y: none;

    background: var(--dark);
  }
}